body {
  background: #eaffea;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  text-align: center;
}

#pet {
  font-size: 60px;
}

input {
  width: 70%;
  padding: 6px;
}

button {
  padding: 6px;
  margin-top: 5px;
}

li {
  background: #ccffcc;
  margin: 5px;
  padding: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
